
/SeniorProjBackend/.vs
SeniorProjBackend/appsettings.json
SeniorProjBackend/[Oo]bj
SeniorProjBackend/[Bb]in
/.vs
/SeniorProjBackend/Properties
SeniorProjBackend/Properties/serviceDependencies.local.json.user
SeniorProjBackend/Properties/serviceDependencies.local.json
SeniorProjBackend/Properties/serviceDependencies.json
/Bubby/frontend/.idea
/RealBubbyFrontend/.idea
RealBubbyFrontend/real_cool_frontend/.idea
RealBubbyFrontend/real_cool_frontend/pnpm-lock.yaml
/SeniorProjBackend/Backend_Files/bin
/SeniorProjBackend/Backend_Files/obj
SeniorProjBackend/Backend_Files/SeniorProjBackend.csproj.user
SeniorProjBackend/Backend_Files/SeniorProjBackend.csproj
SeniorProjBackend/Backend_Files/obj/Debug/net8.0/SeniorProjBackend.AssemblyInfo.cs
SeniorProjBackend/Backend_Files/obj/Debug/net8.0/SeniorProjBackend.AssemblyInfoInputs.cache
/SeniorProjBackend/Backend_Files/obj
