
/SeniorProjBackend/.vs
SeniorProjBackend/appsettings.json
SeniorProjBackend/[Oo]bj
SeniorProjBackend/[Bb]in
/.vs
/SeniorProjBackend/Properties
SeniorProjBackend/Properties/serviceDependencies.local.json.user
SeniorProjBackend/Properties/serviceDependencies.local.json
SeniorProjBackend/Properties/serviceDependencies.json
