@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Sign Up and Login Button Logic
*/

.signup__btn,
.login__btn {
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 650;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.signup__btn {
    background: rgb(0, 140, 255);
}

.signup__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
    0 0 6px rgb(0, 140, 255),
    0 0 12px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255);
}

.login__btn {
    box-shadow: 0 0 10px rgb(0, 140, 255);
}

.login__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
    0 0 6px rgb(0, 140, 255),
    0 0 12px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255);
}